<section class="tabela-scroll">
  <table *ngIf="isDadosValidos()" mat-table [dataSource]="dataSource.dados" class="mat-elevation-z8">
    <ng-container *ngFor="let coluna of colunas" matColumnDef="{{coluna['nomeAtributo']}}">
      <th mat-header-cell *matHeaderCellDef> {{coluna['labelAtributo']}}</th>
      <td mat-cell *matCellDef="let element"> {{element[coluna['nomeAtributo']]}} </td>
    </ng-container>

    <ng-container matColumnDef="Ação">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button *ngFor="let botao of botoesAcao" mat-button color="primary"
                matTooltip="{{botao.descricao}}"
                (click)="emitirClickBotao(element, botao.acao)"><mat-icon>{{ botao.icone }}</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
  </table>
</section>



