<div class="conteudo-rodape">
  <p>Desafio técnico IBM. O desafio consiste em criar uma aplicação web que simule transações financeiras de um banco.
    A aplicação deve conter as seguintes funcionalidades:</p>
  <p>proposto ao desenvolvedor: Guilherme Gonçalves Braz, Github:
    <a href="https://github.com/guilhermegbraz"> guilhermegbraz</a>
  </p>
<!--  <ul>-->
<!--    <li> Cadastro de clientes com os campos: nome, idade, endereço de email e numero da conta</li>-->
<!--    <li> Cadastro de Débito e Credito na conta do cliente.</li>-->
<!--    <li> Extrato em tela da conta do cliente com saldo total</li>-->
<!--  </ul>-->
</div>
