<div class="container">
  <app-cabecalho [exibirBotaoHome]="false"></app-cabecalho>
  <app-container>
    <app-cabecalho-pagina [tituloPagina]="'Contas'"
                          [exibirBotaoAdicionarRegistro]="true"
                          (clickBotaoAdicionarRegistro)="adicionarCliente()"
                          [exibirPaginador]="true"
                          [length]="quantidadeRegistros"
                          [pageSize]="tamanhoPagina"
                          [pageIndex]="numeroPagina"
                          [pageSizeOptions]="opcoesTamanhoPagina"
                          (alteracaoPagina)="mudarPagina($event)"
    >
    </app-cabecalho-pagina>
    <div class="tabela-wrapper">
      <app-tabela-paginavel [dataSource]="dadosTabela" [colunas]="COLUNAS_EXIBIDAS" [exibirBotoesAcao]="true"
                            [botoesAcao]="botoes" (clickBotaoAcao)="handleBotaoAcao($event)"

      ></app-tabela-paginavel>
    </div>
  </app-container>
  <app-rodape></app-rodape>
</div>
