.container {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

}

app-cabecalho, app-rodape {
  flex-shrink: 0;
}

app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: red;
}
