<div class="container">
  <app-cabecalho [exibirBotaoHome]="true" [exibirSubtitulo]="true" [subtitulo]="subtitulo"></app-cabecalho>
  <app-container>
    <app-cabecalho-pagina [tituloPagina]="'Transações'"
                          [exibirBotaoAdicionarRegistro]="botaoAdicionarRegistroApto"
                          (clickBotaoAdicionarRegistro)="adicionarTransacao()"
                          [exibirPaginador]="true"
                          [length]="quantidadeRegistros"
                          [pageSize]="tamanhoPagina"
                          [pageIndex]="numeroPagina"
                          [pageSizeOptions]="opcoesTamanhoPagina"
                          (alteracaoPagina)="mudarPagina($event)"
    >
    </app-cabecalho-pagina>
    <div *ngIf="idContaRecebido" class="tabela-wrapper">
      <app-tabela-paginavel [dataSource]="dadosTabela" [colunas]="colunasExibicao" [exibirBotoesAcao]="false"
                            [botoesAcao]="botoes"

      ></app-tabela-paginavel>
    </div>
    <div *ngIf="!idContaRecebido">
      <p>Necessário passar um identificador de conta para vizualizar as transações</p>
    </div>
  </app-container>
  <app-rodape></app-rodape>
</div>
